# Copyright (c) 2023 MDSANIMA

# This is a configuration file for commit lint that makes sharing of commit conventions easy.
# Documentation: https://commitlint.js.org


extends: ['@commitlint/config-conventional']
rules:
  type-enum:
    - 2
    - always
    - [build, chore, ci, docs, feat, fix, perf, refactor, revert, style, test]
  scope-case:
    - 2
    - always
    - kebab-case
  subject-case:
    - 2
    - always
    - sentence-case
  body-case:
    - 2
    - always
    - sentence-case
