# Maintain a consistent coding style throughout the entire project codebase to
# ensure readability and maintainability.  Consistent style not only improves
# collaboration but also makes the code easier to review and debug.

# Configuration file for EditorConfig format.  The settings for JavaScript,
# Python and C/C++ files are mirrored by languages in .prettierrc, .eslintrc,
# .flake8, .pylintrc, pyproject.toml and .clang-format files that is shared
# accros all my codebase projects.  Keep them in sync.  For more information
# about, refer to the documentation, see here: https://editorconfig.org

# The rules are still a work in progress and subject to change.  I still need
# to think about this configuration, and for now this is a base template.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = double

[*.{eslint*,json*,md*,prettier*,svg,todo,version*,vim,xml,yaml,yml}]
indent_size = 2
max_line_length = 80

[*.{bash,css,html,js,jsx,mjs,ps1,psd1,psm1,scss,sh,ts,tsx,zsh*}]
indent_size = 4
max_line_length = 80

[*.py]
profile = black
indent_size = 4
max_line_length = 80

[{.clang-format,.clang-tidy}]
indent_size = 2
max_line_length = 80

[{CMakeLists.txt,*.{cmake,c,h,cc,hh,cpp,hpp,cxx,hxx}}]
indent_size = 4
max_line_length = 80

[{Makefile,.gitattributes,.gitconfig,.gitcredentials,.gitmessage,.gitmodules}]
indent_size = 8
indent_style = tab

[COMMIT_EDITMSG]
indent_size = unset
max_line_length = 72
